{
  "extends": "airbnb/base",
  "rules": {
    "object-curly-spacing": [2, "never"],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "vars-on-top": 0,
    "no-console": 0,
    "strict": 0,
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNew": false
    }],
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "as-needed"],
    "no-unused-vars": [2, {"varsIgnorePattern": "^_"}]
  }
}
